/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --card-bg-color: #FFFFFF;
}

.fa-solid {
    color: var(--main-color);
}

header {
    display: flex;
    background-color: var(--card-bg-color);
    margin-bottom: 2em;
}

.logo-booki {
    height: 1.5em;
    padding: 1.5em 1em 1em 0;

}

.button-header {
    display: flex;
    flex:1;
    justify-content: flex-end;
    gap: 3.5em;
    background-color: var(--card-bg-color);
    padding-left: 3em;
}

.buttons-top {
    border: none;
    font-size: 0.95em;
    background-color: var(--card-bg-color);
    padding-bottom: 0.75em;
    padding-top: 0.75em;
}

.buttons-top:hover {
    cursor: pointer;
    border-top: 2px var(--main-color) solid;
    color: var(--main-color);
}

.subtext-top {
    margin-top: 10px;
}

/* Search bar */
.searchbar {
    display: flex;
    margin-top: 35px;
    margin-bottom: 35px;
    font-weight: bold;
}

.fa-location-dot {
    background-color: var(--main-bg-color);
    padding: 1em;
    border: 2px var(--main-bg-color) solid;
    border-style: solid none solid solid;
    border-radius: 1.1em 0em 0em 1.1em;
    color: #000000;
}

.sb-middle {
    border: 2px var(--main-bg-color) solid;
    border-style: solid none solid none;
    font-weight: bold;
    font-size: 16px;
    width: 160px;
    padding: 0px 10px 0px 10px;
}

::placeholder {
    opacity: 1;
    text-align: center;
    color: black;
}

.sb-right {
    background-color: var(--main-color);
    color: var(--card-bg-color);
    padding: 1em;
    border-radius: 0em 1.1em 1.1em 0em;
    cursor: pointer;
    border: none;
}

.fa-search {
    display: none;
}

/* Filters */
.filters-div-tag {
    margin-top: 14px;
    display: inline-flex;
    font-weight: bold;
    gap: 20px;
    }

.filters-div {
    display: inline-flex;
    margin-right: 12px;
    font-weight: bold;
}    

.filter {
    background-color: var(--card-bg-color);
    border: 2px lightgray solid;
    padding: 0.75em;
    border-radius: 45px;
    cursor: pointer;
}


.filter i {
  color: var(--main-color);
}

.filter .fa-solid {
  padding-right: 10px;
}

.filter:hover {
  background-color: rgba(0, 101, 252, 0.15);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.populaires-title {
    margin: 0;
    font-size: 22px;
    margin-bottom: 5px;
}

.card {
    background-color: var(--card-bg-color);
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/* Information */
.div-info {
    display: flex;
    align-items: center;
    gap: 10px; 
    margin: 30px 0px 30px 0px; 
}

.div-info .fa-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border: 1px solid #D9D9D9;
    border-radius: 24px;
}

.div-info p {
    color: #000;
    font-size: 16px;
    font-weight: 400;
}



/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

#hebergements {
    font-size: 24px;
}

.populaires-title .section-title {
    font-size: 24px;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergement-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.hebergement-div .card {
    width: 30%;
    margin-top: 25px;
    height: 220px;
}

.hebergement-div img {
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 125px;
}

.hebergement-div .card-title {
    margin: 5px 0 5px 0;
}

.hebergement-div .card-txt {
    margin-bottom: 5px;
    padding-left: 10px;
}

.hebergement-div .card-rating {
    padding-left: 10px;
}

#hebergement-text {
    margin-top: 40px;
    cursor: pointer;
    width: 100%;
}




/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* Activités */
.text-activities {
    margin-top: 60px;
    margin-left: 40px;
}

.activities {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.activities section {
    border-radius: 20px;
    padding: 30px;
    gap: 10px;
}

.activities-sub {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  padding: 30px;
  gap: 10px;
}


.activities .card {
    padding: 0 0 20px 0;
    width: 23%;
    height: 420px;
}

.activities img {
    border-radius: 25px 25px 0 0;
    height: 380px;
    width: 100%;
}

.activities .card-title {
    padding: 10px 0 0 20px;
}

/* Footer */
footer {
    background-color: var(--main-bg-color);
}

.footer-main {
    display: flex;
    margin-top: 2em;
    padding: 1.5em;
    gap: 10%;
}

.footer-sub {
    font-weight: bold;
    width: 30%;
}

.footer-button {
    display: flex;
    padding: 0.5em;
    padding-left: 0em;
    font-size: 0.9em;
    font-weight: normal;
    cursor: pointer;
    background-color: var(--main-bg-color);
}



/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    h2 {
        font-size: 22px;
    }

    .card-title {
        font-size: 16px;
    }

    .card-subtitle {
        font-size: 14px;
    }

    .filter {
        font-size: 14px;
    }

    .filters-div {
        display: block;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .hebergement-div .card {
        width: 31%;
        height: 205px;
        padding-right: 0px;
    }

    .hebergement-div img {
        width: 97.5%;
    }

    #hebergement-text {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 31.75%;
    }
    
    .activities-sub {
      gap: 0px;
    }

    .activities .card {
        width: 23%;
        height: 250px;
    }

    .activities img {
        height: 200px;
        width: 100%;
    }

    .activities .card-title {
      padding-left: 15px;
    }

    .footer-main {
      display: flex;
      margin-top: 2em;
      padding: 1.5em;
      gap: 14.5%;
    }

    .footer-main {
        gap: 6%;
    }

    .footer-sub {
        width: 40%
    }
}



/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    header {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    h2 {
      font-size: 22px;
    }

    .main-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0px;
    }

    .top-margin {
      margin-left: 25px;
    }

    .logo-div {
        text-align: center;
    }

    .button-header {
        width: 100%;
        margin: 0px;
        padding: 0px;
        gap: 0;
        
    }

    .buttons-top {
        width: 100%;
        border-bottom: 2px var(--main-bg-color) solid;
    }

    .span-top {
      display: flex;
      justify-content: center;
    }

    .buttons-top:hover {
        cursor:pointer;
        border-top: 0;
        border-bottom: 2px var(--main-color) solid;
    }

    .sb-right {
        display: none;
    }

    .sb-middle {
        padding-left: 25px;
        width: 80%;
        max-width: 455px;
        min-width: 170px;
    }

    ::placeholder {
        text-align: left;
    }

    .fa-search {
        display: inline;
        background-color: var(--main-color);
        color: var(--card-bg-color);
        padding: 1em;
        border-radius: 1.1em 1.1em 1.1em 1.1em;
        cursor: pointer;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.33)
    }

    .filter {
        margin-top: 10px;
        min-width: 117px;
        width: 30%;
        font-size: 15px;
        padding: 0.75em 0.6em 0.75em 0.6em;
    }

    .filters-div-tag {
        flex-wrap: wrap;
        row-gap: 10px;
        column-gap: 20px;
    }

    .filter-p {
        width: 100%;
    }

    .populaires {
        order: 1;
    }

    .populaires .section-title {
      align-items: center;
    }
    
    .populaires-cards {
        flex-direction: column;
    }

    .populaires-cards .card {
        width: 320%;
    }

    .hebergements-and-populaires .hebergements {
        background-color: var(--card-bg-color);
    }

    .hebergements {
        order: 2;
        margin-top: 20px;
    }

    .populaires-title .section-title {
        display: flex;
        width: 100%;
    }

    .hebergement-div {
        flex-direction: column;
        justify-content: left;
    }

    .hebergement-div .card {
        height: 205px;
        padding-right: 5px;
        width: 100%;
        max-width: 767px;

    }

    .hebergement-div img {
        width: 100%;
    }

    #hebergement-text {
        display: flex;
        width: 100%;
    }

    .activities-sub {
        justify-content: center;
    }

    .activities .text-activities {
        width: 100%
    }

    .activities .card {
        height: 205px; 
        width: 100%;
        max-width: 767px;
        margin-bottom: 15px;
    }
    
    .activities img {
        width: 100%;
        height: 175px;
    }

    .footer-main {
        flex-direction: column;
        gap: 2em;
    }

    .footer-sub {
        width: 100%;
    }

}